:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --text-primary: #5d4531;
  --text-secondary: #735439;
  --text-tertiary: #aa7f4c;
  --button-hover: linear-gradient(90deg, rgba(183,146,88,1) 0%, rgba(141,102,65,1) 85%);
  --button-default: linear-gradient(90deg, rgba(200,174,125,1) 0%, rgba(170,127,76,1) 85%);
  --button-focus:linear-gradient(90deg, rgba(170,127,76,1) 0%, rgba(115,84,57,1) 85%);
  --background:#f3efe1;
  --background-card: linear-gradient(90deg, rgba(200,174,125,1) 0%, rgba(115,84,57,1) 85%);
  --text-countDown:linear-gradient(90deg, rgba(141,102,65,1) 0%, rgba(93,69,49,1) 85%);
  --text-button:#e6dcc2;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
 
}
